.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .flex-container {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .flex-container {
        width: 50%;
    }
}

.flex-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px 1px #fff;
    height: 50px;
    flex: 1 1 25%;
}

.flex-container #display {
    justify-content: right;
    flex: 4 1 100%;
    padding-right: 5%;
}

.flex-container #blank {
    flex: 2 1 50%;
}

#display {
    background: lightblue;
}

#clear {
    background: grey;
}

.button, #decimal, #backspace {
    background: peachpuff;
}

.operator_button {
    background: orange;
    filter: brightness(100%);
}

#equals {
    background: orangered;
}

